on:
  push:
    branches:
      - main
      - "release/**"
    paths:
      - "src/**"
  pull_request:
    branches:
      - main
      - "release/**"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Run tests
        run: npm test
      - name: Lint code
        run: npx eslint src/
  
      - name: Build project
        run: npm run build
  
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: echo "Deploying to production..."