name: Scheduled Test Workflow

on:
  schedule:
    - cron: '* * * * *'  # Runs daily at 00:00 UTC

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello! This is a scheduled workflow running at midnight UTC."
