name: Simple Workflow

on:
  push:
    branches:
      - main
      - relsease/**
    paths: 
      - "src/**"
  pull_request:
    branches:
      - main 
      - release/**
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: run tests
        run: npm test
 